<!--views/site/index.ejs-->
<!DOCTYPE HTML>
<html>
<body>
<h1>Daily Planet</h1>

<ul>
	<li><a href="/articles" title="All articles">View all articles</a></li>
	<li><a href="/authors" title="All authors">View all authors</a></li>
</body>
</html>

